html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    line-height: 1.6;
}

body {
    background-color: antiquewhite;
    border: 0.5cm;
    border-color: rgb(248, 124, 35);
    border-color: black;
    border-style:double ;
    border-width:1ch;
}
.home{
    font-display: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom:10mm;
    color: rgb(227, 130, 65);

}
.title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(180, 26, 2);
    font-size: xx-large;
    background-origin: padding-box;
}

h1 {
    font-size:60px;
    text-align:center;
    color: rgb(241, 161, 75);

}
h2{
    font-size:40px;
    color: #f39e6a
}
h3{
    font-style: oblique;
    color: rgb(255, 134, 90);
    text-align: center;
}
p{
    color: rgb(180, 6, 6);
}
#container {
    width: 20%;
    height: auto;
    max-width:600px;
    /* se inserisco "auto", relativamente a "width" ed a "height" la larghezza e l'altezza
    dell'area del contenuto viene decisa dal browser in automatico */
    margin: 1.25em auto; /*1.25em = 20px*/
    margin:1.25em auto;
    /* primo valore: marg. sup. + inf.; secondo valore: marg. sin. + dest.(auto)
    per far si che la pag. sia centrata orizzontalmente nel browser*/
    padding: 1.875em 0.625em 0em 0.625em;
}
header {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
aside{
    background-color: rgb(2, 78, 149);
    border: 5mm;
    text-align: center;
    text-decoration: double;
    font-style: normal;
}

main{
    font-size: 15pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    color: rgb(3, 58, 118);
    text-transform: capitalize;
    grid-area: footer;
}
.box{
    height: 1000px;
    width: 1410px;
    margin: 50px, auto;
    padding: 157px;
    background-image: url(copertinablog2.png);
    background-color: black;
    border-color: aliceblue;
    block-size: auto;
}
.boxpost{
    height: 1000px;
    width: 1410px;
    margin: 50px, auto;
    padding: 150px;
    background-image: url(postit.png);
    background-color: black;
    border-color: aliceblue;
    block-size: auto;
}

/* per richiamarlo in PostList <button> scrivere class="button" */
.button {
    background-color: rgb(175, 15, 0); 
    border-color: rgb(255, 255, 255);
    color: rgb(9, 8, 1);
    padding: 5px 10px;
    text-align: center;
    text-decoration:double;
    font-size: 16px;
    padding-right: 2cm;
}